@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@900&display=swap');

*,*::after,*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none; 
	color: #fff;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}
ul {
	list-style: none;
}